.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 9px;
  width: 100%;
  margin-top: 30px;
}
  
.p {
  font-size: 16px;
  margin-bottom: 15px;
}
  
.label {
  margin-right: 10px;
}
  
.input {
  flex: 1;
  padding: 5px;
}
